* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #070707;
  color: #e0e0e0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*----------------------------------------------------------------------*/
.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-boxx {
  background: #1a1a1a;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 36px;
  width: 100%;
  max-width: 400px;
}

.auth-boxx h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.auth-boxx form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth-boxx label {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 2px;
  display: block;
}

.auth-boxx input {
  width: 100%;
  padding: 10px 12px;
  background: #111;
  border: 1px solid #2a2a2a;
  border-radius: 6px;
  color: #e0e0e0;
  font-size: 14px;
}

.auth-boxx p {
  margin-top: 16px;
  font-size: 13px;
  color: #666;
}

.auth-boxx p a {
  color: #a78bfa;
}

.btn-main {
  background: #7c3aed;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  margin-top: 4px;
}

/*----------------------------------------------------------------------------*/
.navbar {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background: #0d0d0d;
  border-bottom: 1px solid #1a1a1a;
  top: 0;
  position: sticky;
}

.main-name {
  font-size: 18px;
  font-weight: 900;
  margin-right: 30px;
  letter-spacing: 1px;
  color: #a855f7;
}

.linkss {
  display: flex;
  gap: 8px;
  flex: 1;
}

.linkss a {
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 14px;
  color: #ada7a7;
  text-decoration: none;
}

.linkss a:hover {
  color: #ffffff;
  background: #161616;
}

.active {
  color: #ffffff !important;
  background: #525050 !important;
}

.log-out {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

.nav-email {
  font-size: 13px;
  color: #848384;
}

.btn-logout {
  background: #941f1f;
  border: 1px solid #222;
  padding: 5px 10px;
  border-radius: 8px;
  padding: 7px 16px;
  cursor: pointer;
  font-size: 13px;
  color: hsl(0, 21%, 87%);
}

/*-------------------------------------------------------------------------------*/